@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Montserrat:wght@900&display=swap');

body {
    --bg-color: #bbb;
    --fg-color1: #fff;
    --fg-color2: #222;

    background: var(--bg-color);
}

main {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

h1 {
    padding-bottom: 0.55em;
    border-bottom: 3px solid var(--fg-color1);

    color: var(--fg-color1);

    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 4vw;
    font-size: clamp(40px, 4.5vw, 80px);
    letter-spacing: 0.1em;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5vw;
    font-size: clamp(22px, 3vw, 72px);
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--fg-color2);

    transition: all .3s;
}

a:hover {
    padding-left: 0.2em;
    color: var(--fg-color1);
}

ol {
  padding: 0;
  list-style: none;
  counter-reset: no-easter-eggs-here;
}

ol li {
  display: flex;
  margin-bottom: 1.4em;
  counter-increment: no-easter-eggs-here;
}

ol li::before {
  content: "0" counter(no-easter-eggs-here) ".";
  margin-right: 0.4em;
  font-size: 1em;
  font-size: clamp(14px, 1.2vw, 36px);
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  line-height: 1;
  color: var(--fg-color2);
}
