html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #4b5d61;
    background: url("spongebob1600.jpg");
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 35px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

textarea {
    flex: 1;
    margin: 1.6rem;
    padding: 1.6rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.1);

    font-size: 40px;
    font-size: clamp(20px, 2vw, 35px);

    color: #222;
    opacity: .9;
    resize: none;
}
