@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&family=Montserrat:wght@700&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #fff;
    background: #be1836;
    animation: rainbow 220s infinite linear;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 35px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

#maintext {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.2em;
    padding: 0;

    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    font-size: clamp(22px, 3.5vw, 40px);
    line-height: 1.7;
    text-shadow: 0 0.06em rgba(0, 0, 0, 0.2);
}

#maintext.copyable {
    cursor: pointer;
}

#maintext::before {
    position: absolute;
    left: 50%;
    top: 50%;
    align-self: center;
    z-index: 999;
    transform: translate(-50%,-50%);
    padding: 12px 15px;
    border-radius: 5px;

    content: attr(data-tip);
    background: #111;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-transform: lowercase;
    opacity: 0;
    transition: opacity 0.3s;
}

#maintext.copied::before {
    opacity: 0.95;
}

button {
    position: relative;
    display: inline-block;
    align-self: center;
    padding: 0.5em 1.6em;
    border: 2px solid #fff;
    border-radius: 0.4em;
    box-shadow: 0px 6px #fff;

    background: transparent;
    color: #fff;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    font-size: clamp(22px, 3vw, 30px);
    text-transform: uppercase;
    letter-spacing: 0.4em;
    line-height: 1.8em;
    cursor: pointer;
    outline: none;
}

button:hover {
    box-shadow: 0 4px #fff;
    top: 2px;
}

button:active {
    box-shadow: 0 0 #fff;
    top: 6px;
}

::selection {
    background-color: #222;
}

::-moz-selection {
    background-color: #222;
}

@media only screen and (max-width: 480px) {
    button {
        align-self: stretch;
        border-width: 1px;
        box-shadow: 0 4px #fff;
        top: 2px;
    }

    #maintext {
        flex: 1;
    }
}

@keyframes rainbow {
    0%   { background-color: #be1836; }
    15%  { background-color: #f85931; }
    30%  { background-color: #dda92e; }
    40%  { background-color: #a3a948; }
    55%  { background-color: #00a2af; }
    70%  { background-color: #3d6adb; }
    85%  { background-color: #863ad8; }
    100% { background-color: #be1836; }
}
